@model ShoesSalePage.Models.Product
@using ShoesSalePage.Models;
@{
    ViewBag.Title = "Details";
    int i = 1;
}
<div class="site-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="~/Content/Images/ProductImg/@Model.Image" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6">
                <p class="text-black">@Model.Category.CategoryName / @Model.SubCategory.SubCategoryName</p>
                <h2 class="text-black"><i>@Model.Name</i></h2>
                <p><strong class="text-primary h4">@String.Format("{0:n0}", Model.Price) VND</strong></p>
                <p><strong class="text-primary h5">@Model.Color /</strong></p>
                <p><strong class="text-primary h4">@Model.Brand</strong></p>
                <p>Giày sử dụng chất liệu vegan thay cho thành phần hoặc chất liệu có nguồn gốc từ động vật. Sản phẩm này may bằng vải công nghệ Primegreen, thuộc dòng chất liệu tái chế hiệu năng cao. Thân giày chứa 50% thành phần tái chế. Không sử dụng polyester nguyên sinh.</p>
                <p class="mb-4">Lớp lót bằng vải thun da cá cho cảm giác mềm mại và kiểu dáng hoài cổ. Đế cupsole bằng cao su phân tách cùng với miếng đệm chất liệu EVA mang đến cảm giác thoải mái, linh hoạt</p>
                <label for="option-md" class="d-flex mr-3 mb-3"><strong class="text-primary h4">Chọn mặt hàng</strong></label>
                <div class="mb-1 d-flex">
                    <div class="border p-4 rounded mb-4">
                        <div class="col-sm-12">
                            <div class="side mb-1 border-1">
                                <div class="block-26 mb-2">
                                    <h3 class="fw-bolder" style="color:black">Kiểm tra mặt hàng</h3>
                                    <ul>
                                        @foreach (var item in Model.Stocks)
                                        {
                                            switch (item.Size)
                                            {
                                                case 1:
                                                    <li><a class="text-decoration-none showSingle" target="1">36</a></li>
                                                    break;
                                                case 2:
                                                    <li><a class="text-decoration-none showSingle" target="2">37</a></li>
                                                    break;
                                                case 3:
                                                    <li><a class="text-decoration-none showSingle" target="3">38</a></li>
                                                    break;
                                                case 4:
                                                    <li><a class="text-decoration-none showSingle" target="4">39</a></li>
                                                    <br />
                                                    break;
                                                case 5:
                                                    <li><a class="text-decoration-none showSingle" target="5">40</a></li>
                                                    break;
                                                case 6:
                                                    <li><a class="text-decoration-none showSingle" target="6">41</a></li>
                                                    break;
                                                case 7:
                                                    <li><a class="text-decoration-none showSingle" target="7">42</a></li>
                                                    break;
                                                case 8:
                                                    <li><a class="text-decoration-none showSingle" target="8">43</a></li>
                                                    break;
                                                case 9:
                                                    <li><a class="text-decoration-none showSingle" target="1">S</a></li>
                                                    break;
                                                case 10:
                                                    <li><a class="text-decoration-none showSingle" target="2">M</a></li>
                                                    break;
                                                case 11:
                                                    <li><a class="text-decoration-none showSingle" target="3">L</a></li>
                                                    break;
                                                case 12:
                                                    <li><a class="text-decoration-none showSingle" target="4">XL</a></li>
                                                    <br />
                                                    break;
                                                case 13:
                                                    <li><a class="text-decoration-none showSingle" target="5">2XL</a></li>
                                                    break;
                                                case 14:
                                                    <li><a class="text-decoration-none showSingle" target="6">3XL</a></li>
                                                    break;
                                                case 15:
                                                    <li><a class="text-decoration-none showSingle" target="7">4XL</a></li>
                                                    break;
                                                case 16:
                                                    <li><a class="text-decoration-none showSingle" target="8">5XL</a></li>
                                                    break;
                                            }
                                        }
                                    </ul>
                                    @foreach (var item in Model.Stocks)
                                    {
                                        string s = "div" + i;
                                        <div id="@s" class="targetDiv" style="display:none;">
                                            <p style="color:red">
                                                Số lượng trong kho: @item.Stock1
                                            </p>
                                        </div>
                                        i++;
                                    }
                                    <h3 class="fw-bolder mt-2" style="color:black">Chọn Size</h3>
                                    @using (Html.BeginForm("DetailsAddToCart", "Products", new { id = Model.ProductId }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <select class="form-control" name="size">
                                            @foreach (var item in Model.Stocks)
                                            {
                                                switch (item.Size)
                                                {
                                                    case 1:
                                                        <option value="36">36 (22,6 - 23 cm)</option>
                                                        break;
                                                    case 2:
                                                        <option value="37">37 (22,6 - 23 cm)</option>
                                                        break;
                                                    case 3:
                                                        <option value="38">38 (23,1 - 23,5 cm)</option>
                                                        break;
                                                    case 4:
                                                        <option value="39">39 (23,6 - 24 cm)</option>
                                                        break;
                                                    case 5:
                                                        <option value="40">40 (24,6 - 25 cm)</option>
                                                        break;
                                                    case 6:
                                                        <option value="41">41 (25,1 - 25,5 cm)</option>
                                                        break;
                                                    case 7:
                                                        <option value="42">42 (25,6 - 26 cm)</option>
                                                        break;
                                                    case 8:
                                                        <option value="43">43 (22,6 - 23 cm)</option>
                                                        break;
                                                    case 9:
                                                        <option value="S">S</option>
                                                        break;
                                                    case 10:
                                                        <option value="M">M</option>
                                                        break;
                                                    case 11:
                                                        <option value="L">L</option>
                                                        break;
                                                    case 12:
                                                        <option value="XL">XL</option>
                                                        break;
                                                    case 13:
                                                        <option value="2XL">2XL</option>
                                                        break;
                                                    case 14:
                                                        <option value="3XL">3XL</option>
                                                        break;
                                                    case 15:
                                                        <option value="4XL">4XL</option>
                                                        break;
                                                    case 16:
                                                        <option value="5XL">5XL</option>
                                                        break;
                                                }
                                            }
                                        </select>
                                        <h3 class="fw-bolder mt-4" style="color:black">Số lượng</h3>
                                        <div class="mb-5">
                                            <div class="input-group mb-3" style="max-width: 180px;">
                                                <input type="text" name="quantity" class="form-control text-center" placeholder="Nhập số lượng" aria-describedby="button-addon1">
                                                <p class="mt-4"><input type="submit" class="form-control buy-now btn btn-sm btn-primary" value="Add to cart" /></p>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                                <div class="modal-body">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ms-lg-auto">
                        <a class="btn btn-default btn-sm icon icon-straighten" onclick="SizeChart()">BIỂU ĐỒ KÍCH CỠ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.showSingle').click(function () {
            $('.targetDiv').not('#div' + $(this).attr('target')).hide();
            $('#div' + $(this).attr('target')).toggle();
        });
    });

    function SizeChart() {
        $.get("@Url.Action("SizeChart","Products")/",
            function (data) {
                $('.modal-body').html(data);
            });

            $("#myModal").modal("show");
    }
</script>