@model PagedList.IPagedList<ShoesSalePage.Models.ProductViewModel>
@using PagedList.Mvc
@{
    ViewBag.Title = "SizeFilter";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="row mb-5">
    @foreach (var item in Model)
    {
        <div class="col-sm-6 col-lg-4 mb-4">
            <div class="block-4 text-center border">
                <figure class="block-4-image">
                    <a href="~/Products/Details?id=@item.Id"><img src="~/Content/Images/ProductImg/@item.Image" alt="Image placeholder" class="img-fluid"></a>
                </figure>
                <div class="block-4-text p-4">
                    <h3><a href="~/Products/Details?id=@item.Id">@item.Name</a></h3>
                    <p class="mb-0 text-danger">@item.Brand</p>
                    <p class="text-primary font-weight-bold">@String.Format("{0:n0}", item.Price) VND</p>
                    @if (item.IsAvailable)
                    {
                        <p>Còn hàng</p>
                    }
                    else
                    {
                        <p>Hết hàng</p>
                    }
                    <a class="text-decoration-none float-start" href="@Url.Action("Details", "Products", new {id = item.Id})"><i class="fas fa-eye text-primary mr-1"></i>View details</a>
                    <a class="text-decoration-none float-end" href="@Url.Action("AddToCart", "Products", new {id = item.Id})"><i class="fas fa-shopping-cart text-primary mr-1"></i>Add to cart</a>
                </div>
            </div>
        </div>
    }
</div>
<div>
    @Html.PagedListPager(Model, pageNumber => Url.Action("SizeFilter", "Products", new {page = pageNumber}))
</div>