@model IEnumerable<ShoesSalePage.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div class="site-blocks-cover" style="background-image: url('../Content/Images/hero_1.jpg');">
    <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-end">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2">Finding Your Perfect Shoes</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
                    <p>
                        <a href="~/Products/Shop" class="btn btn-sm btn-primary">Shop Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-blocks-cover" style="background-image: url('../Content/Images/hero_2.jpg');">
    <div class="container">
        <div class="row align-items-start align-items-md-center justify-content-start">
            <div class="col-md-5 text-center text-md-left pt-5 pt-md-0">
                <h1 class="mb-2">Finding Your Perfect Shoes</h1>
                <div class="intro-text text-center text-md-left">
                    <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at iaculis quam. Integer accumsan tincidunt fringilla. </p>
                    <p>
                        <a href="~/Products/Shop" class="btn btn-sm btn-primary">Shop Now</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Ad Section-->
<div class="site-section site-section-sm site-blocks-1">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-truck"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Shipping</h2>
                    <p class="fw-bold">
                        Miễn phí giao hàng cho tất cả các đơn hàng từ 1.300.000 VNĐ trở lên.

                        Cho các đơn hàng còn lại, phí giao hàng tiêu chuẩn được áp dụng.

                        Hãy kiểm tra <a href="#">Điều Khoản & Điều Kiện</a> giao hàng của chúng tôi để biết thêm chi tiết.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-refresh2"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Free Returns</h2>
                    <p class="fw-bold">
                        Nếu bạn hoàn toàn không hài lòng với sản phẩm đã mua, bạn có thể được hoàn lại tiền.

                        Xin lưu ý rằng việc trả hàng và hoàn tiền sẽ không được áp dụng cho một số sản phẩm nhất định.

                        Các sản phẩm không được áp dụng chính sách trả hàng và hoàn tiền sẽ được đánh dấu "Không trả hàng, không hoàn tiền" trên trang sản phẩm.

                        Hãy kiểm tra <a href="#">Chính Sách Trả Lại Hàng</a> của chúng tôi để biết thêm chi tiết.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-lg-flex mb-4 mb-lg-0 pl-4">
                <div class="icon mr-4 align-self-start">
                    <span class="icon-help"></span>
                </div>
                <div class="text">
                    <h2 class="text-uppercase">Customer Support</h2>
                    <p class="fw-bold">Nếu bạn muốn trả hàng và hoàn tiền cho (các) sản phẩm đã nhận, xin vui lòng hoàn thành Phiếu Yêu Cầu Trả Hàng <a href="#">tại đây</a> và đội ngũ Dịch vụ khách hàng của chúng tôi sẽ gửi hướng dẫn và tài liệu liên quan qua email trong vòng 5 ngày làm việc tiếp theo.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section-->
<!--Category Section-->
<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0">
                <a class="block-2-item" href="~/Products/Shop?Cate=Woman">
                    <figure class="image">
                        <img src="~/Content/Images/ProductImg/item10.jpg" alt="women" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Women</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <a class="block-2-item" href="~/Products/Shop?Cate=Accessories">
                    <figure class="image">
                        <img src="~/Content/Images/ProductImg/item1.jpg" alt="Item" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Accessories</h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4 mb-5 mb-lg-0">
                <a class="block-2-item" href="~/Products/Shop?Cate=Men">
                    <figure class="image">
                        <img src="~/Content/Images/ProductImg/shoe1.jpg" alt="" class="img-fluid">
                    </figure>
                    <div class="text">
                        <span class="text-uppercase">Collections</span>
                        <h3>Men</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!--End Section-->
<!--New Product Section-->
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>New Products</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var item in Model.Where(p => p.ProductId >= 12 && p.ProductId <= 14))
                    {
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="~/Content/Images/ProductImg/@Url.Content(item.Image)" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="~/Products/Details?id=@item.ProductId">@item.Name</a></h3>
                                    <p class="mb-0">@item.Brand</p>
                                    <p class="text-primary font-weight-bold">@String.Format("{0:n0}", item.Price) VND</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section-->
<!--What's hot Section-->
<div class="site-section block-3 site-blocks-2 bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>What's hot</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="nonloop-block-3 owl-carousel">
                    @foreach (var item in Model.Where(p => p.ProductId >= 21 && p.ProductId <= 26))
                    {
                        <div class="item">
                            <div class="block-4 text-center">
                                <figure class="block-4-image">
                                    <img src="~/Content/Images/ProductImg/@Url.Content(item.Image)" alt="Image placeholder" class="img-fluid">
                                </figure>
                                <div class="block-4-text p-4">
                                    <h3><a href="~/Products/Details?id=@item.ProductId">@item.Name</a></h3>
                                    <p class="mb-0">@item.Brand</p>
                                    <p class="text-primary font-weight-bold">@String.Format("{0:n0}", item.Price) VND</p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Section-->
<!--BigSale Section-->
<div class="site-section block-8">
    <div class="container">
        <div class="row justify-content-center  mb-5">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Big Sale!</h2>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-7 mb-5">
                <a href="#"><img src="~/Content/Images/banner1.png" alt="Image placeholder" class="img-fluid rounded"></a>
            </div>
            <div class="col-md-12 col-lg-5 text-center pl-md-5">
                <h2><a href="#" class="text-decoration-none">50% less in all items</a></h2>
                <p class="post-meta mb-4">By <a href="#">KhauTrangYTe</a> <span class="block-8-sep">&bullet;</span> September 3, 2018</p>
                <p class="fw-bold" style="color:black">SALE 10.10 BẮT ĐẦU: HƯỞNG ƯU ĐÃI ĐẾN 50% MẶT HÀNG OUTLET</p>
                <p><a href="#" class="btn btn-primary btn-sm">Shop Now</a></p>
            </div>
        </div>
    </div>
</div>
<!--End Section-->
<!--Activate owl carousel-->
<script>
    $('.owl-carousel').owlCarousel({
        loop: true,
        margin: 10,
        nav: true,
        responsive: {
            0: {
                items: 1
            },
            600: {
                items: 3
            },
            1000: {
                items: 5
            }
        }
    })
</script>