@model IEnumerable<ShoesSalePage.Models.Product>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>
            <img src="~/Content/Images/Banner.jpg" alt="banner"/>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Nghĩ khác biệt</h1>
                    <p>Nabati luôn đi tìm kiếm sự khác biệt, giữa hiện đại và truyền thống</p>
                    <p><a class="btn btn-lg btn-primary" href="~/Users/Register">Đăng ký ngay</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>
            <img src="~/Content/Images/banner1.png" />
            <div class="container">
                <div class="carousel-caption">
                    <h1>Kết nối mọi người</h1>
                    <p>Không chỉ nam hay nữ. Mà mọi người đều có thể tin chọn Nabati</p>
                    <p><a class="btn btn-lg btn-primary" href="~/Products/Shop">Tìm hiểu thêm</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777" /></svg>
            <img src="~/Content/Images/banner2.jpg" />
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Người bạn của mọi nhà</h1>
                    <p>Luôn đặt uy tín, trách nhiệm lên hàng đầu. Nabati sẵn sàng phục vụ</p>
                    <p><a class="btn btn-lg btn-primary" href="~/Products/Shop">Tìm hiểu thêm</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false" ><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2>Heading</h2>
            <p>Some representative placeholder content for the three columns of text below the carousel. This is the first column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2>Heading</h2>
            <p>Another exciting bit of representative placeholder content. This time, we've moved on to the second column.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777" /><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

            <h2>Heading</h2>
            <p>And lastly this, the third column of representative placeholder content.</p>
            <p><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    <h1>Bạn đang tìm kiếm những gì?</h1>
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Giày Nam <span class="text-muted">- Lịch lãm, Quý phái</span></h2>
            <p class="lead">Bạn đang tìm kiếm những đôi giày nam tính, lịch lãm và quý phái cho người thân, bạn bè hay chỉ là cho bản thân bạn</p>
        </div>
        <div class="col-md-5">
            <a href="#">
                <img src="~/Content/Images/banner1.png" alt="Men"/>
            </a>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Giày nữ <span class="text-muted">- Nữ tính, Trẻ trung, Năng động</span></h2>
            <p class="lead">Bạn đang tìm kiếm những đôi giày nữ tính, trẻ trung cho những người phụ nữ của bạn, người thân hay chỉ là cho bản thân bạn</p>
        </div>
        <div class="col-md-5 order-md-1">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <a xlink:href="#">
                    <image xlink:href="~/Content/Images/ProductImg/shoes21.jpg" width="500" height="500"/>
                </a>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Phụ kiện <span class="text-muted">- Trẻ trung, xinh xắn, tiện lợi</span></h2>
            <p class="lead">Bạn đang cần những phụ kiện để trông thật đẹp hơn</p>
        </div>
        <div class="col-md-5">
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false">
                <a xlink:href="#">
                    <image xlink:href="~/Content/Images/ProductImg/item2.jpg" width="500" height="500" />
                </a>
            </svg>

        </div>
    </div>

    <hr class="featurette-divider">
    <div class="row featurette">
    </div>
</div>
@section NewArrival{
    <div class="container">
    <h2>HÀNG MỚI VỀ</h2>
        <div class="row">
            @foreach (var item in Model.Where(p => p.ProductId > 1))
            {
                <div class="col-xl-4 col-sm-6 p-3">
                    <div class="card" style="width: 18rem;">
                        <img src="@Url.Content(item.Image)" class="card-img-top" alt="New Arrival">
                        <div class="card-body">
                            <h5 class="card-title">@item.Name</h5>
                            <p class="card-text">@item.Brand</p>
                            <p class="card-text fw-bold">@String.Format("{0:n0}", item.Price) VND</p>
                            <a href="~/Products/Shop" class="btn btn-primary">Mua ngay</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <hr />
}
@section BestOfUs{
    <div class="container">
    <h2>TỐT NHẤT CỦA CHÚNG TÔI</h2>
        <div class="row">
            @foreach (var item in Model.Where(p => p.ProductId >= 1 && p.ProductId <= 9))
            {
                <div class="col-xl-4 col-sm-6 p-3">
                    <div class="img-thumbnail">
                        <div class="float-start">
                            <img src="@Url.Content(item.Image)" alt="Shoes_img" height="100" width="100" />
                        </div>
                        <div>
                            <p class="fw-bold">@item.Name</p>
                            <p>@item.Brand</p>
                            <p class="fw-bold">@String.Format("{0:n0}", item.Price) VND</p>
                        </div>
                        <a href="~/Products/Shop" class="btn btn-primary">Mua ngay</a>
                    </div>
                </div>
            }
        </div>
    </div>
}