@using PagedList.Mvc;
@model PagedList.IPagedList<ShoesSalePage.Models.ShoesModel>
@{
    ViewBag.Title = "Filter";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-xl-4 col-sm-6 p-3">
                <div class="img-thumbnail">
                    <div class="float-start">
                        <img src="@Url.Content(item.Image)" alt="Shoes_img" height="100" width="100" />
                    </div>
                    <div>
                        <p class="fw-bold">@item.Name</p>
                        <p>@item.Brand</p>
                        <p class="fw-bold">@String.Format("{0:n0}", item.Price) VND</p>
                    </div>
                    <a class="btn btn-primary" href="@Url.Action("Add","Cart", new {id = item.Id})">
                        Thêm vào giỏ hàng
                    </a>
                    <a class="btn btn-primary" href="@Url.Action("Details","Shoes", new {id = item.Id})">
                        Chi tiết
                    </a>
                </div>
            </div>
        }
        <div>
            @Html.PagedListPager(Model, pageNumber => Url.Action("Filter", new { page = pageNumber }))
        </div>
        <div class="mb-4">
            <a href="~/Shoes/Shop" class="text-decoration-none">-> Trở về cửa hàng <-</a>
        </div>
    </div>
</div>

