<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Nabati</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: #EEE3CB">
    <div class="navbar navbar-expand-sm navbar-dark fixed-top" style="background-color: #b7c4cf">
        <div class="container d-inline-block" >
            <div class="navbar-header position-absolute">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index">
                    <img src="~/Content/Icon/shoes.jpg" alt="shoe_icon" width="45" height="45" />
                    Nabati
                </a>
            </div>
            <div class="collapse navbar-collapse float-end bottom-100">
                <ul class="nav navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link text-dark" style="background-color:#b7c4cf" href="~/Home/Index">Trang Chủ</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" style="background-color:#b7c4cf" href="~/Shoes/Shop">Cửa hàng</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link text-dark" style="background-color:#b7c4cf" href="~/Cart/Cart">
                            Giỏ hàng
                            <img src="~/Content/Icon/shopping-cart.png" alt="cart_icon" width="20" height="20" />
                            (@Session["Count"])
                        </a>
                    </li>
                    @if (Session["FullName"] != null)
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-dark" style="background-color:#b7c4cf" href="~/Users/Index">
                                <img src="~/Content/Icon/user.png" alt="cart_icon" width="20" height="20" />
                                Hello, @Session["UserName"]
                            </a>
                        </li>
                        <li class="m-2">
                            @Html.ActionLink("Logout", "Logout", "Users")
                        </li>
                    }else
                    {
                        <li class="nav-item active">
                            <a class="nav-link text-dark" style="background-color:#b7c4cf" href="~/Users/Login">
                                <img src="~/Content/Icon/user.png" alt="cart_icon" width="20" height="20" />
                                Đăng nhập
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        @RenderSection("NewArrival", required: false)
        @RenderSection("BestOfUs", required: false)
        <div style="background-color: #47B5FF; text-align:center; height:auto;" >
            <div>
                <h2>
                    TRỞ THÀNH HỘI VIÊN & <br />
                    HƯỞNG NHIỀU ƯU ĐÃI
                </h2>
            </div>
            <div class=" btn btn-dark text-center">
                <a href="~/Users/Register" class="text-decoration-none" style="color:aliceblue">
                    Đăng ký miễn phí &rarr;
                </a>
            </div>
        </div>
        <hr />
        <footer>
            <div class="row">
                <div class="col-md-4">
                    <h2>VỀ CỬA HÀNG</h2>
                    <p>
                        Ra mắt năm 2015, cửa hàng Nabati được xây dựng nhằm cung cấp cho người dùng những trải nghiệm dễ dàng,
                        an toàn và nhanh chóng khi mua sắm trực tuyến thông qua hệ thống hỗ trợ thanh toán và vận hành vững mạnh.
                        Chúng tôi có niềm tin mạnh mẽ rằng trải nghiệm mua sắm trực tuyến phải đơn giản, dễ dàng và mang đến cảm xúc vui thích.
                        Niềm tin này truyền cảm hứng và thúc đẩy chúng tôi mỗi ngày tại Nabati.
                    </p>
                    <p><a class="btn btn-default" href="#">Tìm hiểu thêm &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>HỖ TRỢ</h2>
                    <p>
                        Về các vấn đề khách hàng cần được hỗ trợ/tư vấn hay những thắc mắc về sản phẩm. Xin vui lòng liên hệ đường dây nóng:(84+)35555999 làm việc
                        từ thứ 2 - thứ 7 (7:30AM - 21:00PM)
                    </p>
                    <p><a class="btn btn-default" href="#">Tìm hiểu thêm &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>LIÊN HỆ</h2>
                    <p>Theo dõi chúng tôi trên</p>
                    <a href="#" class="text-decoration-none">
                        <img src="~/Content/Icon/facebook.png" alt="facebook_icon" width="20" height="20" />
                        Facebook
                    </a>
                    <br />
                    <a href="#" class="text-decoration-none">
                        <img src="~/Content/Icon/instagram.png" alt="instagram_icon" width="20" height="20" />
                        Instagram
                    </a>
                    <br />
                    <a href="#" class="text-decoration-none">
                        <img src="~/Content/Icon/twitter.png" alt="twitter_icon" width="20" height="20" />
                        Twitter
                    </a>
                    <p><a class="btn btn-default" href="~/Home/Contact">Tìm hiểu thêm &raquo;</a></p>
                </div>
            </div>
            <p>Copyright &copy; @DateTime.Now.Year - NabatiShoes. All rights reserved</p>
        </footer>
        <br />
    </div>
    <div class="text-md-center" style="background-color: #06283D; height: 50px;">
        <a class="text-decoration-none" style="color:azure" href="#">Chính sách bảo mật |</a>
        <a class="text-decoration-none" style="color:azure" href="#">Điều khoản và điều kiện |</a>
        <a class="text-decoration-none" style="color:azure" href="#">Xuất bản bởi</a>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
