<!DOCTYPE html>
<html lang="en">
<head>
    <title>NABATI - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

    @*<link rel="stylesheet" href="~/Content/magnific-popup.css">*@
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/icomoon/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
</head>
<body>
    <div class="site-wrap">
        <header class="site-navbar" role="banner">
            <div class="site-navbar-top">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="position-absolute end-0">
                            <a href="~/Home/Index">
                                <img src="~/Content/Icon/shoes.jpg" height="50" width="50" />
                            </a>
                        </div>
                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">

                            @using (Html.BeginForm("Search", "Products", FormMethod.Get, new { @class = "site-block-top-search" }))
                            {
                                <span class="icon icon-search2"></span>
                                <input class="form-control me-2" type="search" placeholder="Search" name="input" aria-label="Search" />
                            }
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center position-relative">
                            <div class="site-logo">
                                <a href="~/Home/Index" class="text-decoration-none js-logo-clone">NABATI</a>
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right ">
                            <div class="site-top-icons float-end">
                                <ul>
                                    <li>
                                        <a href="~/Carts/Cart" class="site-cart">
                                            <span class="icon icon-shopping_cart"></span>
                                            <span class="count">@Session["Count"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Users/Login"><span class="icon icon-person position-relative"></span>@Session["UserName"]</a>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "Users")" class="position-relative">LogOut</a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li class="has-children active">
                            <a href="#">Phân loại</a>
                            <ul class="dropdown">
                                <li class="has-children">
                                    <a href="@Url.Action("Shop","Products", new {Cate = "Men"})">Giày nam</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 1})">Giày Lười</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 2})">Giày Da</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 3})">Giày Boot</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 4})">Giày Tây</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 5})">Giày Công Sở</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="@Url.Action("Shop","Products", new {Cate = "Woman"})">Giày nữ</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 6})">Giày Búp Bê</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 7})">Giày Cao Gót</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 8})">Giày Lười Nữ</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 9})">Giày Sandal</a></li>
                                    </ul>
                                </li>
                                <li class="has-children">
                                    <a href="@Url.Action("Shop","Products", new {Cate = "Accessories"})">Phụ Kiện</a>
                                    <ul class="dropdown">
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 10})">Thắt lưng</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 11})">Ví Da</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 12})">Mắt Kính</a></li>
                                        <li><a href="@Url.Action("Shop","Products", new {subCateId = 13})">Túi xách</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li><a href="~/Products/Shop">Cửa Hàng</a></li>
                        <li><a href="~/Home/Index">Trang Chủ</a></li>
                        <li><a href="~/Home/About">Về chúng tôi</a></li>
                        <li><a href="#ContactInfo">Liên hệ</a></li>
                    </ul>
                </div>
            </nav>
        </header>
        @RenderBody()
        <div style="background-color: #47B5FF; text-align:center; height:auto;">
            <div>
                <h2 style="color:black" class="fw-bold">
                    TRỞ THÀNH HỘI VIÊN & <br />
                    HƯỞNG NHIỀU ƯU ĐÃI
                </h2>
            </div>
            <div class=" btn btn-dark text-center">
                <a href="~/Users/Register" class="text-decoration-none" style="color:aliceblue">
                    Đăng ký miễn phí &rarr;
                </a>
            </div>
        </div>
        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">SẢN PHẨM</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a class="text-decoration-none" href="@Url.Action("Shop", "Products", new {Cate = "Men"})">Giày nam</a></li>
                                    <li><a class="text-decoration-none" href="@Url.Action("Shop", "Products", new {Cate = "Woman"})">Giày nữ</a></li>
                                    <li><a class="text-decoration-none" href="@Url.Action("Shop", "Products", new {Cate = "Accessories"})">Phụ kiện</a></li>
                                </ul>
                            </div>
                            
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a class="text-decoration-none" href="#">Help &amp; Customer</a></li>
                                    <li><a class="text-decoration-none" href="#">Service</a></li>
                                    <li><a class="text-decoration-none" href="#">Payment</a></li>
                                </ul>
                            </div>
                            
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li><a class="text-decoration-none icon-facebook-square" href="https://www.facebook.com/"> Facebook</a></li>
                                    <li><a class="text-decoration-none icon-instagram" href="https://www.instagram.com/"> Instagram</a></li>
                                    <li><a class="text-decoration-none icon-twitter-square" href="https://twitter.com/"> Twitter</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Promo</h3>
                        <a href="#" class="block-6 text-decoration-none">
                            <img src="~/Content/Images/hero_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Finding Your Perfect Shoes</h3>
                            <p>Promo from Nov 15 &mdash; 25, 2022</p>
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3" id="ContactInfo">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Contact Info</h3>
                            <ul class="list-unstyled">
                                <li class="address">828 Su Van Hanh, Dist 10, Ho Chi Minh city</li>
                                <li class="phone"><a href="tel://0355550971">+81 5555 0971</a></li>
                                <li class="email">Nabati999@gmail.com</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | NABATI
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>