<!DOCTYPE html>
<html lang="en">
<head>
    <title>NABATI - @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">

    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/icomoon/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/style.css">

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/owl.carousel.min.js"></script>
</head>
<body>

    <div class="col-md-3 order-1 mb-5 mb-md-0">
        <div class="border p-4 rounded mb-4">
            <h3 class="mb-3 h6 text-uppercase text-black d-block">Categories</h3>
            <ul class="list-unstyled mb-0">
                <li class="mb-1"><a href="@Url.Action("Shop", "Products", new {Cate = "Men"})" class="d-flex text-decoration-none"><span>Nam</span> <span class="text-black ml-auto"> (Men)</span></a></li>
                <li class="mb-1"><a href="@Url.Action("Shop", "Products", new {Cate = "Woman"})" class="d-flex text-decoration-none"><span>Nữ</span> <span class="text-black ml-auto"> (Women)</span></a></li>
                <li class="mb-1"><a href="@Url.Action("Shop", "Products", new {Cate = "Accessories"})" class="d-flex text-decoration-none"><span>Phụ kiện</span> <span class="text-black ml-auto">(Accessories)</span></a></li>
            </ul>
        </div>
    
        <div class="border p-4 rounded mb-4">
            <div class="mb-4">
                <h3 class="mb-3 h6 text-uppercase text-black d-block">Color</h3>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "Red"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-danger color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Red</span>
                </a>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "Green"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-success color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Green</span>
                </a>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "Blue"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-primary color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Blue</span>
                </a>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "Yellow"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-warning color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Yellow</span>
                </a>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "White"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-light color d-inline-block rounded-circle mr-2"></span> <span class="text-black">White</span>
                </a>
                <a href="@Url.Action("ColorFilter", "Products", new {color = "Black"})" class="d-flex color-item align-items-center text-decoration-none">
                    <span class="bg-dark color d-inline-block rounded-circle mr-2"></span> <span class="text-black">Black</span>
                </a>
            </div>
    
        </div>
    </div>
</body>
</html>
