@model ShoesSalePage.Models.User
@{
    ViewBag.Title = "Index";
}
<table class="table mt-4">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConfirmPass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostalCode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th></th>
    </tr>
    <tr>
    <tr>
        <td>
            @Session["UserFullName"]
        </td>
        <td>
            @Session["UserEmail"]
        </td>
        <td>
            @Session["UserCreatedDate"]
        </td>
        <td>
            @Session["UserName"]
        </td>
        <td>
            @Session["UserAddress"]
        </td>
        <td>
            @Session["UserCity"]
        </td>
        <td>
            @Session["UserPostalCode"]
        </td>
        <td>
            @Session["UserPhoneNumber"]
        </td>
    </tr>
</table>
