@model ShoesSalePage.Models.Product
@{ 
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card text-black">
                    <img src="~/Content/Images/ProductImg/@Url.Content(Model.Image)"
                         class="card-img-top" alt="Product" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Chi tiết sản phẩm</h5>
                            <p class="text-muted mb-4">@Model.Name</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Tên sản phẩm:</span>
                                <span>@Model.Name</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Hãng:</span>
                                <span>@Model.Brand</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Giá:</span>
                                <span>@String.Format("{0:n0}", Model.Price) VND</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Size:</span>
                                <span>
                                    @foreach (var item in Model.Stocks)
                                    {
                                        <strong>@item.Size </strong>
                                    }
                                </span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Số lượng:</span>
                                <span>
                                    @foreach (var item in Model.Stocks)
                                    {
                                        <strong>Size: @item.Size - Số lượng: @item.Stock1</strong>
                                        <br />
                                    }
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "ProductManagePage", "Admin")
</p>
