@model PagedList.IPagedList<ShoesSalePage.Models.Product>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<table class="table align-middle mt-4 mb-4 bg-white">
    <thead class="bg-light">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Size</th>
            <th>Brand</th>
            <th>Color</th>
            <th>Image</th>
            <th>IsAvailable</th>
            <th></th>   
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    <img src="~/Content/Images/ProductImg/@Url.Content(item.Image)" height="50" width="50" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsAvailable)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditProduct", new { id = item.ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                    @Html.ActionLink("Delete", "RemoveProduct", new { id = item.ProductId })
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div>
        @Html.PagedListPager(Model, pageNumber => Url.Action("Index", new { page = pageNumber }))
    </div>
    <a href="@Url.Action("AddProduct", "Admin")" class="btn btn-outline-dark">Create New</a>