@model PagedList.IPagedList<ShoesSalePage.Models.CartViewModel>
@using PagedList.Mvc;
@{
    ViewBag.Title = "ShowOrder";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("ShowCart", "Admin", FormMethod.Get))
{
    <input type="number" id="OrderId" name="OrderId" placeholder="Enter Order ID" />
    <button type="submit">Search</button>
}
<br />
@using (Html.BeginForm("ShowCart", "Admin", FormMethod.Get))
{
    <select name="DateFilter">
        <option value="Lastest">Lastest</option>
        <option value="Oldest">Oldest</option>
    </select>
    <input type="submit" value="Submit" />
}
<table class="table align-middle mt-4 mb-4 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Order ID</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Brand</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Size</th>
            <th>Created Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Size)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
            </tr>
        }
        </tbody>
    </table>
    <div class="text-md-center">
        @Html.PagedListPager(Model, pageNumber => Url.Action("ShowCart", new { page = pageNumber, CartId = ViewBag.CartId, DateFilter = ViewBag.DateFilter }))
    </div>

